<footer class="pt-4 my-md-5 pt-md-5 border-top  mdb-color darken-3">
    <!--Section: Features v.2-->
<section class="section feature-box">

    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-3 mb-r">
           
            <div class="col-10 col-md-9 col-lg-10 float-right">
                
                <ul class="sub-menu">
                    <h4 class="white-text">Services</h4>
                    <li class=""><a routerLink="services">Web et mobile</a></li>
                    <li class=""><a routerLink="services">Design</a></li>
                    <li class=""><a routerLink="services">Réferencement SEO</a></li>
                    <li class=""><a routerLink="services">E-commerce</a></li>
                    <li class=""><a routerLink="services">Hébergement et nom de domaine</a></li>
                    <li class=""><a routerLink="services">Soutien technique</a></li>
                </ul>
                
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-r">
            
            <div class="col-10 col-md-9 col-lg-10 float-right">
               
                <ul class="sub-menu">
                    <h4 class=" white-text">à vendre </h4>
                    <li class=""><a href="https://www.qconcept.ca/vitrine/">Vitrine Web</a></li>
                    <li class=""><a href="https://www.qconcept.ca/ecommerce/">Site E-commerce</a></li>
                    <li class=""><a href="https://www.qconcept.ca/stechnique/">Soutien technique</a></li>
                    <li class=""><a href="https://www.qconcept.ca/photos/">photographe</a></li>
                    <li class=""><a href="https://qconcept.ca/gouvernement/">Gouvernement</a></li>
                    <li class=""><a href="http://apidocs.ca/autre/">autre</a></li>
                </ul>
                
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-r">
            
            <div class="col-10 col-md-9 col-lg-10 float-right">
                
                <ul class="sub-menu">
                    <h4 class="white-text">Technologies</h4>
                    <li class=""><a href="https://www.qconcept.ca/blog/">Angular</a></li>
                    <li class=""><a href="https://www.qconcept.ca/resource-center/">JavaEE</a></li>
                    <li class=""><a href="https://www.qconcept.ca/webinars/">Php</a></li>
                    <li class=""><a href="https://www.qconcept.ca/newsroom/">Ionic</a></li>
                    <li class=""><a href="https://community.qconcept.ca">Drupal</a></li>
                    <li class=""><a href="http://apidocs.qconcept.ca/">Wordpress</a></li>
                    <li class=""><a href="http://apidocs.qconcept.ca/">Symfony</a></li>
                </ul>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 mb-r">
            
            <div class="col-10 col-md-9 col-lg-10 float-right">
               
                <ul class="sub-menu">
                    <h4 class="white-text">Contact</h4>
                    <li class=""><a href="https://www.qconcept.ca/blog/">Développement Web</a></li>
                    <li class=""><a href="https://www.qconcept.ca/resource-center/">Réferencement</a></li>
                    <li class=""><a href="https://www.qconcept.ca/webinars/">Webinars</a></li>
                    <li class=""><a href="https://www.qconcept.ca/newsroom/">Newsroom</a></li>
                    <li class=""><a href="https://community.qconcept.ca">Community</a></li>
                    <li class=""><a href="http://apidocs.qconcept.ca/">API Documentation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Grid row-->
</section>
<div class="footerBottom purple-text text-center py-2">
    © {{year}} Créé par Momo Bouaboub, consultant Web
</div>
  </footer>