<footer class="pt-4 my-md-1 pt-md-5 border-top mdb-color darken-3">
    <!--Section: Features v.2-->
<section class="section feature-box">

    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
           
            <div class="col-10 col-md-9 col-lg-10 float-right">
                
                <ul class="sub-menu">
                    <h4 class="white-text">Services</h4>
                    <li class=""><a class="orange-text" routerLink="services">Développement Web</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Hébergement Web</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Réferencement SEO</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Maintenance</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Formation</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Soutien technique</a></li>
                    <li class=""><a class="orange-text" routerLink="services">Rédaction et traduction Web</a></li>
                </ul>
                
            </div>
        </div>
        
        <div class="col-md-4 mb-r">
            
            <div class="col-10 col-md-9 col-lg-10 float-right">
                
                <ul class="sub-menu">
                    <h4 class="white-text">Technologies</h4>
                    <li class=""><a class="orange-text" routerLink="technologies">Angular</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">JavaEE</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">Php</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">Ionic</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">Drupal CMS</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">Wordpress CMS</a></li>
                    <li class=""><a class="orange-text" routerLink="technologies">Spring FrameWork</a></li>
                </ul>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-4 mb-r">
            
            <div class="col-10 col-md-9 col-lg-10 float-right">
               
                <ul class="sub-menu">
                    <h4 class="white-text">Contact</h4>
                    <li class="orange-text"><a routerLink="contact">Contact</a></li>
                    <li class="orange-text"><a>514 835-9601</a></li>
                    <li class="orange-text"><a>contact@qconcept.ca</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
    <!--Grid row-->
</section>
<div class="footerBottom orange-text float-left py-2">
    © {{year}} Créé par Momo Bouaboub, consultant Web

<div class="float-right col-md-1">
                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.google.ca" target="_blank"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.google.ca" target="_blank"> <i class="fa fa-instagram"></i></a>
</div>          
 
</div>
  </footer>