<footer class="pt-4 my-md-5 pt-md-5 border-top  mdb-color darken-3">
    <!--Section: Features v.2-->
<section class="section feature-box">

    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-3 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-bullhorn blue-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Services</h4>
                
                <ul class="list-group ">
                    <li class="list-group-item  mdb-color darken-3 border-0">Cras justo odio</li>
                    <li class="list-group-item  mdb-color darken-3 border-0 ">Dapibus ac facilisis in</li>
                    <li class="list-group-item  mdb-color darken-3 border-0">Morbi leo risus</li>
                    <li class="list-group-item  mdb-color darken-3 border-0">Porta ac consectetur ac</li>
                    <li class="list-group-item  mdb-color darken-3 border-0">Vestibulum at eros</li>
                  </ul>
                <!--<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>-->
               
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-cogs pink-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Customization</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-dashboard purple-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Support</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-secondary btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-dashboard purple-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Support</h4>
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                
            </div>
        </div>
    </div>
    <!--Grid row-->
</section>
<section class="rgba-red-strong" >
        <a class="btn btn-floating peach-gradient waves-light rounded-circle " mdbRippleRadius><i class="fa fa-facebook"></i></a>
        <a class="btn btn-floating peach-gradient waves-light rounded-circle" mdbRippleRadius><i class="fa fa-twitter"></i></a>
        <a class="btn btn-floating peach-gradient waves-light rounded-circle" mdbRippleRadius><i class="fa fa-linkedin"></i></a>
        
   
</section>
  </footer>