<!--Panel-->
<div class="card text-center" style="width: 22rem;">
  <div class="card-header success-color white-text">
      Featured
  </div>
  <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a class="btn btn-success btn-sm waves-light" mdbRippleRadius>Go somewhere</a>
  </div>
  <div class="card-footer text-muted success-color white-text">
      <p class="mb-0">2 days ago</p>
  </div>
</div>
<!--/.Panel-->