<!--Section: Contact v.3-->
<section class="section">
        <img src="assets/images/contact.png" class="img-fluid" alt="Responsive image" width="100%">
    <!--Grid row-->
    <div class="row">
            
        <!--Grid column-->
        <div class="col-md-12">
                
            <!--Form with header-->
            <div class="card">
                   
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body form">
                            <!--Header-->
                            <div class="formHeader mb-1 pt-3">
                                <h3><i class="fa fa-envelope"></i> Contactez-moi</h3>
                            </div>

                            <br>

                            <form>
                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <div class="md-form">
                                                <input mdbActive type="text" id="form-contact-name" class="form-control" required>
                                                <label for="form-contact-name" class="">Nom</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <div class="md-form">
                                                <input mdbActive type="text" id="form-contact-email" class="form-control" required>
                                                <label for="form-contact-email" class="">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <div class="md-form">
                                                <input mdbActive type="text" id="form-contact-phone" class="form-control" required>
                                                <label for="form-contact-phone" class="">Téléphone</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <textarea mdbActive  type="text" id="form-contact-message" class="md-textarea"  name ="longeur" [(ngModel)]= "charLength" ></textarea>
                                            <label for="form-contact-message">Message</label>
                                            <a class="btn-floating btn-lg btn-indigo waves-light" mdbRippleRadius><i class="fa fa-send-o"></i> Envoyer</a>
                                            <div class="col-2 float-right">{{1000-charLength.length}}/1000</div>
                                            
                                        </div>
                                        
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->
                            </form>

                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card-body contact text-center">
                            <div class="container">
                                
                                <div class="col-md-12">

                                    <!--Card-->
                                    <div class="card card-cascade">
                                
                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                                            <img src="assets/images/address.jpeg" class="img-fluid" alt="">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                        <!--/.Card image-->
                                
                                        <!--Card content-->
                                        <div class="card-body text-justify">
                                            <!--Title-->
                                            <p>Mon bureau est situé dans la ville de ile-Perrot, il est possible pour moi de travailler à distance avec vous peu importe l’endroit où vous vous trouvez.
                                                    
                                            </p>
                                            <p class="card-text text-indego">514 835-9601</p>
                                            <p class="card-text text-indego">contact@qconcept.ca</p>
                                
                                            <!--Facebook-->
                                           
                                
                                        </div>
                                        <!--/.Card content-->
                                
                                    </div>
                                    <!--/.Card-->
                                
                                </div>    
                                            
                                

                               
                            </div>
                        </div>
                    </div>
                    <iframe width="96%" style="margin-left: 2%;" height="275" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=ile-perrot,+QC+J7V,+Canada&amp;aq=&amp;sll=45.3946026,-74.006182&amp;sspn=0.092883,0.172863&amp;ie=UTF8&amp;hq=&amp;hnear=ile-perrot,+QC+J7V,+Canada&amp;t=m&amp;ll=45.3946026,-74.006182&amp;spn=0.021055,0.036478&amp;z=14&amp;iwloc=near&amp;output=embed">
            
</iframe>    
                </div>   
                
            </div>
            <!--/Form with header-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  
</section>
<!--Section: Contact v.3-->     
        