
<div class="row">

<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="assets/images/angular.png" class="img-fluid" alt="">
          
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
           
            <!--Title-->
            <h4 class="card-title">Angular 5+</h4>
            <!--Text-->
            <p class="card-text">
                    Angular est une plateforme qui facilite la création d'applications sur le Web. Angular combine des modèles déclaratifs, des injections de dépendances ...</p>
            <a class="btn btn-unique waves-light" mdbRippleRadius href="https://angular.io/docs" target="_blank">EN SAVOIR PLUS</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>
<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="assets/images/javaee.png" class="img-fluid" alt="">
            
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
             <!--Title-->
            <h4 class="card-title">Java Entreprise Edition</h4>
            <!--Text-->
            <p class="card-text">
                    Java Platform, Enterprise Edition (Java EE) est la norme dans les logiciels d'entreprise pilotés par la communauté. Java EE est développé en utilisant Java Community Process...</p>
            <a class="btn btn-unique waves-light"  href="http://www.oracle.com/technetwork/java/javaee/documentation/index.html" target="_blank" mdbRippleRadius>EN SAVOIR PLUS</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>
<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="assets/images/php.png" class="img-fluid" alt="">
           
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
           
            <!--Title-->
            <h4 class="card-title">PHP</h4>
            <!--Text-->
            <p class="card-text">Php est un langage de scripts généraliste et Open Source, spécialement conçu pour le développement d'applications web. Il peut être intégré facilement au HTML.</p>
            <a class="btn btn-unique waves-light" mdbRippleRadius>En savoir plus</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>
  
</div>    

<div class="row my-md-5">

    <div class="col-md-4">
    
        <!--Card-->
        <div class="card card-cascade narrower">
    
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="assets/images/wordpress.png" class="img-fluid" alt="">
                
            </div>
            <!--/.Card image-->
    
            <!--Card content-->
            <div class="card-body">
              
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi.</p>
                <a class="btn btn-unique waves-light" mdbRippleRadius>En savoir plus</a>
            </div>
            <!--/.Card content-->
    
        </div>
        <!--/.Card-->
    
    </div>
    <div class="col-md-4">
    
        <!--Card-->
        <div class="card card-cascade narrower">
    
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="assets/images/drupal.png" class="img-fluid" alt="">
                
            </div>
            <!--/.Card image-->
    
            <!--Card content-->
            <div class="card-body">
               
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi.</p>
                <a class="btn btn-unique waves-light" mdbRippleRadius>En savoir plus</a>
            </div>
            <!--/.Card content-->
    
        </div>
        <!--/.Card-->
    
    </div>
    <div class="col-md-4">
    
        <!--Card-->
        <div class="card card-cascade narrower">
    
            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="assets/images/spring.png" class="img-fluid" alt="">
                
            </div>
            <!--/.Card image-->
    
            <!--Card content-->
            <div class="card-body">
                
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi.</p>
                <a class="btn btn-unique waves-light" mdbRippleRadius>En savoir plus</a>
            </div>
            <!--/.Card content-->
    
        </div>
        <!--/.Card-->
    
    </div>
      
    </div>    