<!--Section: Features v.2-->
<div class="lime lighten-5 my-md-1">
        <img src="assets/images/title7.png" class="img-fluid" alt="Responsive image" width="100%">
    <section class="section feature-box  md-5 pt-5">
        <!--Grid row-->
        <div class="row features-small">
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-bullhorn blue-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">Développement Web</h4>
                    <p class="black-text text-justify">De nos jours le web est devenu un moyen de communication indispensable pour les entreprises, facile et accessible. Vos messages passent rapidement et d’une manière précise.
                            Pour que vous soyez visibles, <b>Je</b> vous accompagne pas à pas dans la conception et l’entretien de votre site Web.</p>
                    
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-cogs pink-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">H&eacute;bergement</h4>
                    <p class="black-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                   
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-dashboard purple-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">R&eacute;ferencement SEO</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                   
                </div>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.2-->
    
    <!--Section: Features v.2-->
    <section class="section feature-box">
    
       <!--Grid row-->
        <div class="row features-small">
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-bullhorn blue-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">Formations</h4>
                    <p class="grey-text">J’offre des formations individuelles ou en groupe, qui vous permettront de mieux performer dans le domaine de la programmation, 
                                         la configuration de réseau et maintenance des ordianteurs.</p>
                    
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-cogs pink-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">Maintenance site Web</h4>
                    <p class="grey-text">j'offre un service de suivi de votre site web à un prix abodrable suivant l'intervention</p>
                    
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-dashboard purple-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="feature-title orange-text">Soutien technique</h4>
                    <p class="grey-text">.</p>
                   
                </div>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Features v.2-->
    
</div>