/* You can add global styles to this file, and also import other style files */
.positionTop{
    position: relative;
    top:20px;
}
.body{
  position:relative;
  top:70px;
}

/*body{
  background-image: url("assets/images/background.jpg");
  
}*/