<!--Carousel Wrapper-->
<mdb-carousel  [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
      
          <img class="d-block w-100" src="assets/images/1.jpg" alt="First slide">
              
        
        <div class="carousel-caption">
            <h1 class="display-2 mb-2 wow fadeInDown  font-bold black-text" data-wow-delay="0.3s">DEVELOPPEMENT <a class="black-text font-bold">WEB</a></h1>
            
                   <a class="btn btn-unique btn-lg wow fadeInDown waves-light animated bounce"  mdbRippleRadius data-wow-delay="0.4s">SOUMISSION GRATUITE</a>
        
                </div>
      
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
      <img class="d-block w-100" src="assets/images/2.jpg" alt="Second slide">
         
      <div class="carousel-caption">
          <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">REFERENCEMENT <a class="indigo-text font-bold">SEO</a></h1>
                   <a class="btn btn-lg btn-unique animated bounce" data-wow-delay="0.4s">EN SAVOIR PLUS</a>
          
      </div> 
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
      <img class="d-block w-100" src="assets/images/3.jpg" alt="Third slide">
         
      <div class="carousel-caption">
          <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">HEBERGEMENT <a class="indigo-text font-bold">MAINTENANCE</a></h1>
         
                      <a class="btn btn-light-blue btn-lg wow fadeInDown animated bounce" data-wow-delay="0.4s">EN SAVOIR PLUS</a> 
          
      </div>
  </mdb-slide>
  <!--/Third slide-->
 
</mdb-carousel>

<!--/.Carousel Wrapper-->
<!-- Card -->
<article class="row md-5 pt-5">
<div class="mb-3 col-6">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-5">
        <div>
            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> QCONCEPT</h5>
            <h3 class="card-title pt-2"><strong>Agence Web</strong></h3>
            <p>Une agence de communications numériques située à l'Ile-Perrot Québèc, 
               spécialisée dans la conception et le développement des sites web.
               Notre agence intègre désormais des technologies multiples pour 
               répondre à vos besoins de communication et de marketing. 
              </p>
            
        </div>
    </div>
    <!-- Content -->
</div>
<!-- Card -->

<!-- Card -->

    
<div class="mb-3 col-6">
    
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-4 px-5">
        <div>
            <h5 class="orange-text"><i class="fa fa-desktop"></i> Mot du Président</h5>
            <h3 class="card-title pt-2"><strong></strong></h3>
            <p>"Chers visiteurs, en tant que président de QCONCEPT, je vous souhaite la bienvenue sur notre site Web, 
                ce qui représente pour vous une porte d'entrée dans notre organisation et donc un accès à toutes nos services et produits.
                Nous sommes également engagés à la perfection et nous continuons à investir dans le développement de notre organisation 
                afin de stisfaires nos clients.

                    - Momo aboub, Président à QCONCEPT.</p> 
            
        </div>
    </div>
    <!-- Content -->

</div>
</article>
<!-- Card -->