<!--Carousel Wrapper-->
<mdb-carousel  [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
      
          <img class="d-block w-100" src="assets/images/Banner-3.jpg" alt="First slide">
              
        
        <div class="carousel-caption">
            <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Q<a class="indigo-text font-bold">CONCEPT</a></h1>
            <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Solutions Web & Mobile</h5>
                   <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.4s">EN SAVOIR PLUS</a>
        </div>
      
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
         
      <div class="carousel-caption">
          <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">CARLA <a class="indigo-text font-bold">SMITH</a></h1>
          <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Web developer & graphic designer</h5>
                      <a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.4s">About me</a>
          
      </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
         
      <div class="carousel-caption">
          <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">CARLA <a class="indigo-text font-bold">SMITH</a></h1>
          <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Web developer & graphic designer</h5>
                      <a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.4s">About me</a>
          
      </div>
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
<!--Section: Features v.2-->
<section class="blue-grey lighten-4">
<section class="section feature-box">

    <!--Section heading-->
   

    <h1 class="section-heading pt-4">Nos services</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum.</p>

    <!--Grid row-->
    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-bullhorn blue-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Web et Mobile</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-blue btn-sm ml-0 waves-light" mdbRippleRadius>En Savoir plus   <i class="fa fa-blue pink-text" ></i></a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-cogs pink-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Design</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-pink btn-sm ml-0 waves-light" mdbRippleRadius>En Savoir plus   <i class="fa fa-plus pink-text" ></i></a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-dashboard purple-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">R&eacute;ferencement </h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-secondary btn-sm ml-0 waves-light" mdbRippleRadius>En Savoir plus <i></i></a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.2-->

<!--Section: Features v.2-->
<section class="section feature-box">

   <!--Grid row-->
    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-bullhorn blue-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">E-commerce et CMS</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-primary btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-cogs pink-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">H&eacute;bergement et maintenance</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-pink btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <div class="col-1 col-md-2 float-left">
                <i class="fa fa-dashboard purple-text"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">S&eacute;curit&eacute; et soutien</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a class="btn btn-secondary btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.2-->

</section>